a:hover {
  color: red; 
  text-decoration: none;
}

span.cent {
  color: blue;
  font-size: 30pt;
}

span.and {
  font-size: 20pt;
}

span.dollar {
  color: green;
  font-size: 30pt;
}
table {
    text-align: left;
    cellspacing: 10;
}